@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

:root {
  --bg-color: hsl(49, 37%, 94%);
  --type-speed: 4.5s;
  --border-color: rgb(217, 213, 213);
  --p-color: hsl(0 0% 0% / 0.7);
  --linkedin-color: #0c66c3;
}

.App {
  min-height: 200vh;
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--bg-color);
}

.background {
  background-image: url("/public/images/pexels-negative-space-169573.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio {
  display: flex;
  place-content: center;
  text-align: center;
  justify-content: flex-start;
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
}

.bio-photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.bio-block {
  background-color: rgb(202, 238, 238);
  height: auto;
  width: 40px;
}

.bio-description {
  margin: 20px auto;
}
.title {
  font-size: clamp(1.5rem, 3vw + 1rem, 1.5rem);
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

.title::before,
.title::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.title::before {
  background-color: var(--bg-color);
  animation: typewriter var(--type-speed) steps(35) 1s forwards;
  animation-delay: 1s;
}

.title::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--type-speed) steps(35) 1s forwards,
    blinking 750ms steps(35) 1s infinite;
}

.p-developer {
  color: var(--p-color);
  font-size: 1.7rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeIn 2s ease calc(var(--type-speed) + 2s) forwards;
}

.p-welcome {
  color: var(--p-color);
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeIn 2s ease calc(var(--type-speed) + 4s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blinking {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bio-container {
  margin-bottom: 10px;
}
.bio-contact {
  display: flex;
  justify-content: center;
}

.github {
  width: 25px;
  height: 25px;
  color: black;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}
.github:hover {
  color: var(--linkedin-color);
  transform: scale(1.2);
}
.linkedin {
  width: 25px;
  height: 25px;
  color: #0c66c3;
  margin: 10px;
  transition: all 1s ease-in-out;
}
.linkedin:hover {
  background-color: var(--linkedin-color);
  color: white;
  transform: scale(1.2);
}

.email {
  width: 25px;
  height: 25px;
  background-color: var(--linkedin-color);
  margin: 10px;
  color: white;
  border-radius: 4px;
  transition: all 1s ease-in-out;
}
.email:hover {
  background-color: white;
  color: var(--linkedin-color);
  transform: scale(1.2);
}

.download-resume {
  text-decoration: none;
  background-color: var(--linkedin-color);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

.download-resume:hover {
  color: black;
  background-color: #3788da;
}

.carousel-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.container-carousel {
  margin: 20px;
  width: 50%;
}
